<mat-toolbar color="primary">
  <span><a class="clickable" routerLink="">My Schools</a></span>
  <span class="example-spacer"></span>
    <div class="btn btn-sm btn-light btn-nav" data-toggle="dropdown">
      <strong>+ Add</strong>
    </div>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" routerLink="addSchool">Add School</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else</a>
    </div>
  <a class="btn btn-sm btn-danger btn-nav"><strong>Logout</strong></a>
  <ngx-avatar class="my-avatar" value="VJ" size="40"> </ngx-avatar>
  </mat-toolbar>
