<mat-toolbar color="primary">
  <span><a class="clickable" routerLink="">My Schools</a></span>
  <span class="example-spacer"></span>
    <a class="btn btn-sm btn-dark btn-nav" routerLink=""><strong>My Schools</strong></a>
    <a class="btn btn-sm btn-dark btn-nav" data-toggle="dropdown">
      <strong>+ Add</strong>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" routerLink="addSchool">Add School</a>
      <a class="dropdown-item" routerLink="user">Add User</a>
    </div>
  <ngx-avatar class="my-avatar" value="VJ" size="40"> </ngx-avatar>
  </mat-toolbar>
