<mat-toolbar color="primary">
  <span><a class="clickable" routerLink="">My Schools</a></span>
  <span class="example-spacer"></span>
    <div class="btn btn-sm btn-light btn-nav" data-toggle="dropdown">
      <strong>+ Add</strong>
    </div>
    <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" routerLink="addSchool">Add School</a>
      <a class="dropdown-item" href="#">Another</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  <a class="btn btn-sm btn-danger"><strong>Logout</strong></a>
  </mat-toolbar>
