.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar{
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.9);
}

.clickable{
  cursor: pointer;
  text-decoration: none;
  color: white;
}

a.btn{
  color: black;
}
