<div class="list-group right-shadow">
  <a routerLink="/viewSchool/{{selectedSchoolId}}" routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }" class="list-group-item list-group-item-action">Dashboard</a>
  <a routerLink="/viewSchool/staffManagement/{{selectedSchoolId}}" routerLinkActive="active"
  class="list-group-item list-group-item-action">Staff Management</a>
  <a routerLink="/viewSchool/studentManagement/{{selectedSchoolId}}" routerLinkActive="active"
  class="list-group-item list-group-item-action">Student Management</a>
  <a class="list-group-item list-group-item-action">Progress Report</a>
  <a class="list-group-item list-group-item-action">Evaluations</a>
  <a class="list-group-item list-group-item-action">My Communications</a>
  <a class="list-group-item list-group-item-action">My Calendar</a>
  <a class="list-group-item list-group-item-action">Transportation</a>
</div>
