/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* This is because MacOS has an effect to add focus on button click bootstrap */
.btn:focus {
  outline: none;
  box-shadow: none;
}

.clickable{
  cursor: pointer;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.btn-nav{
  margin-right: 5px;
}
