/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* This is because MacOS has an effect to add focus on button click bootstrap */
.btn:focus {
  outline: none;
  box-shadow: none;
}

ngx-avatar{
  border-radius:50%;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.example-spacer {
  flex: 1 1 auto;
}

.btn-dark{
  box-shadow: 0 8px 6px -6px black;
}

.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.clickable{
  cursor: pointer;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.btn-nav{
  margin-right: 10px;
}

.dropdown-item{
  font-size: 13px;
  height: 40px;
}

.simulate-link{
  color: blue;
  cursor: pointer!important;
  transition: 200ms;
}

.active{
  background-color: #3F51B5!important;
  border: none!important;
}

.simulate-link:hover{
  color: black;
}

