<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Staff Management</h4>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <!-- Nav(Left) Contents of Page -->
    <div class="col-md-3">
      <app-school-sidenav></app-school-sidenav>
    </div>
    <!-- Mid Contents of Page -->
    <div class="col-md-5">
      <!-- Selected Class -->
      <div *ngIf="selectedClass" class="card">
        <div class="card-header">
          Class {{ selectedClass.name }}
        </div>
        <div class="card-body">
          <div *ngIf="!selectedClass.teacherId" class="container mb-2">
            <form (submit)="assignTeacherToClass(assignClassTeacherForm)" #assignClassTeacherForm="ngForm">
              <div class="row">
                <div class="col-sm-8">
                  <mat-form-field class="example-full-width">
                    <mat-label>Assign Class Teacher</mat-label>
                    <select matNativeControl ngModel name="teacherId" #teacherId="ngModel" required>
                      <option *ngFor="let thisSchoolStaff of thisSchoolStaffs"
                        value="{{thisSchoolStaff.userId}}">{{thisSchoolStaff.name}}
                      </option>
                    </select>
                    <mat-error *ngIf="teacherId.invalid">
                      Please select a Teacher
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <button type="submit" class="btn btn-block btn-success">Assign</button>
                </div>
             </div>
            </form>
          </div>
          <div *ngIf="selectedClass.teacherId" class="mb-2">
            <li class="list-group-item sm">
              <div class="row">
                <div class="col-sm-5" style="margin: auto;">
                  Class Teacher:
                </div>
                <div class="col-sm-2">
                  <ngx-avatar class="my-avatar" value="{{ selectedClass.teacherId | namify | initialize }}" size="35"> </ngx-avatar>
                </div>
                <div class="col-sm-5" style="margin: auto;">
                  {{ selectedClass.teacherId | namify }}
                </div>
              </div>
            </li>
          </div>
          <div class="row">
            <ng-container *ngFor="let subject of SelectedSubjects">
              <div class="col-4 mb-2">
                <div class="card">
                  <div class="card-body">
                    <p class="book-text">{{ subject.name }}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- Right Contents of Page -->
    <div class="col-md-4">
      <!-- Manage Staffs Panel -->
      <app-manage-staffs></app-manage-staffs>
      <!-- Manage Classes Panel -->
      <app-manage-classes></app-manage-classes>
      <!-- Manage Subjects Panel -->
      <app-manage-subjects></app-manage-subjects>
    </div>
  </div>
</div>
